.contenedor{
    border: 1px solid black;

	display: flex;
	justify-content: space-between;
    
}

.rojo{
    background-color:red;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
    width: 100px;
}
.azul{
    background-color:blue;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
    width: 100px;
}
.verde{
    background-color:green;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
    width: 100px;
}