/*font-family: 'Noto Sans TC', sans-serif;*/

header{
    background-color: #133e13;
    padding: 1em 0;
    /*1em ----- 16px*/
}

header h1{
    color: #edeef6;
    font-size: 2,5em;
    font-style: italic;
    font-weight: 100;
    padding: 1em;
    position: relative;
    
    /*bottom: 70px;*/
    
}

header .holder {
    display: flex;
    align-items: center;
}

.fotoHeader{
    
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 0.8em 1em 1em;
    max-width: 15%;
}

.asd{
    padding: 0 1em;
}


