<div class="contenedorForm" >
    <div class="holder formHolder ">
        <p class=' bienvenido'>Hola {{usuario}} </p>
        <a class="btnLogout" href="/admin/login/logout">Cerrar sesión</a>
    </div>
</div>